@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Press+Start+2P&display=swap');

* {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

body {
    width: auto;
    height: auto;
    background-color: #778ba4;
    padding: 20px;
}

#theme {
    position: absolute;
    top: 0;
    right: 0;
}

.day-progress-container {
    display: flex;
    gap: 20px;
}

#current-date {
    background-color: #2a3a54;
    color: #dddbf3;
    display: table-row;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
}

.progress {
    display: table-row;
    text-align: center;
    padding-top: 15px;
}

.progress-title {
    margin-top: 20px;
}

.progress-background {
    background-color: #566987;
    height: 30px;
    width: 250px;
    margin-top: 10px;
    border-radius: 15px;
}

.progress-fill {
    background-color: #2a3a54;
}

.current-progress {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #030208;
}

.task-input-container {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

#task-input {
    background-color: #dddbf3;
    border: #2a3a54 2px solid;
    border-radius: 25px;
    padding: 10px;
}

#add-task-button {
    background-color: #2a3a54;
    color: #dddbf3;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
}

#add-task-button:hover {
    background-color: #3d4d67;
}

.tasks-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.task-container {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #2a3a54;
    color: #dddbf3;
    border-radius: 20px;
    padding: 20px;

}